*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
  -webkit-text-size-adjust: 100%;
}

body {
  font-family: "Hiragino Kaku Gothic ProN", "Noto Sans JP", "Yu Gothic",
    sans-serif;
  background: #f7fafc;
  color: #1a202c;
  line-height: 1.5;
}

button {
  font-family: inherit;
}
